name: Tests
on: [push]

jobs:
  run:
    name: Run
    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        operating-system: [ubuntu-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Set Node.js 12.x
      uses: actions/setup-node@master
      with:
        version: 12.x
        cache: 'npm'

    - name: Setup java
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '12'

    - name: restore npm packages
      run: |
        npm ci

    - name: run build
      run: |
        npx shadow-cljs compile app
 
    - name: run unit tests
      run: |
        npx shadow-cljs release ci-test-unit
        node out/ci/unit/node-tests.js

    - name: run integration tests
      run: |
        npx shadow-cljs release ci-test-integration
        node out/ci/integration/node-tests.js

